{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group"> 
                <div class="form-group">
                    {{ form.answer.label(class="form-control-label") }}
                    {{ form.answer(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>                
            </fieldset>
        </form>
    </div>

    <div>{{ guess }}</div>
    <div>{{ joinedlist }}</div>  
    <div>{{ answer_list }}</div>
    <div>{{ all_answers }}</div>

    {% if all_answers|length > 0 %}
        <table class="container">
            <thead>
                <tr>
                    <th><h4>Odpowiedzi</h4></th>
                    <th><h4>Sprawdzenie</h4></th>
                </tr>
                <tbody>
                    <tr>
                        <td>{{ all_answers[(all_answers|length)-1][0]}}</td>
                        <td>{{ all_answers[(all_answers|length)-1][1]}}</td>
                    </tr>
                </thead>
                </tbody>
        </table>
    {% endif %}

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group"> 
                <div class="form-group">
                    <!-- przekierowanie do strony głównej -->
                    <a type="submit" class="btn btn-outline-info" href="{{ url_for('home') }}">strona główna</a>
                </div>                
            </fieldset>
        </form>
    </div>
  
     
{% endblock content %}