{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group"> 
                <div class="form-group">
                    {{ form.answer.label(class="form-control-label") }}
                    {{ form.answer(class="form-control form-control-lg") }}
                    <h4>Co mówi Chińczyk, patrząc na szybę? ... TOSHIBA!</h4>
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>                
            </fieldset>
        </form>
    </div>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group"> 
                <div class="form-group">
                    <!-- przekierowanie do strony głównej -->
                    <a type="submit" class="btn btn-outline-info" href="{{ url_for('home') }}">strona główna</a>
                </div>                
            </fieldset>
        </form>
    </div>
    <p>Znaczenie liter:</p>
    <ul style="list-style-type:circle;">
        <li>X → kolor nie znajduje się w kodzie</li>
        <li>O → kolor znajduje się w kodzie i jest na dobrym miejscu</li>
        <li>V → kolor znajduje się w kodzie, ale jest na złym miejscu</li>
    </ul>
    
    {% if all_answers|length > 0 %}
        <table class="container">
            <thead>
                <tr>
                    <th><h5 class="text">Odpowiedzi</h5></th>
                    <th><h5 class="text">Sprawdzenie</h5></th>
                </tr>
                <tbody>
                    
                        {% for x in all_answers | reverse %} <!-- odpowiedź na początku tabelki -->
                        <tr>
                            <td style="">
                            {% for color in x[0] %}
                                {% if color == "czarny" %}
                                    <div class="black"></div>
                                {% elif color == "czerwony" %}
                                    <div class="red"></div>
                                {% elif color == "zielony" %}
                                    <div class="green"></div>
                                {% elif color == "niebieski" %}
                                    <div class="blue2"></div>
                                {% else %}
                                    <div>WONSZ</div>
                                {% endif %}
                            {% endfor %}
                            </td>
                            <td style="text-align: center;">
                            {% for color in x[1] %}
                                <div class="odp">{{ color }}</div>
                            {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    
                </thead>
                </tbody>
        </table>
    {% endif %}
     
{% endblock content %}